.root {
  padding: 50px 100px;
  @media only screen and (max-width: 768px) {
    padding: 50px;
  }
}

.text-input-card {
  width: 100%;
  max-width: 500px;
}

.submit-note-button {
  display: flex;
  position: absolute;
  right: 20px;
  background: #ff4242;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 6px;
}
.text-input-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  @media only screen and (max-width: 768px) {
    width: auto;
  }
}

#add-note {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.noteItem-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px 10px;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

//css neccessary for masonary
.flex-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
}
.flex-item {
}
