<router-outlet></router-outlet>

<div>
  <div id="input">
    <div class="text-input-card">
      <form class="text-input-form" (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <input
          matInput
          matNativeControl
          type="text"
          placeholder="Title"
          id="title"
          #title="ngModel"
          name="title"
          [(ngModel)]="newNote.title"
          autocomplete="off"
          required
        />
        <textarea
          id="text"
          class="text-input"
          #text="ngModel"
          [(ngModel)]="newNote.text"
          matNativeControl
          matInput
          placeholder="Take a note..."
          (input)="textAreaChanged($event.target)"
          [style.height.px]="textAreaHeight"
          name="text"
          autocomplete="off"
          required
        ></textarea>

        <button class="submit-note-button" mat-icon-button>
          <mat-icon svgIcon="add"></mat-icon>
        </button>
      </form>
    </div>
  </div>
  <!-- css grid of the notes -->

  <div class="noteItem-grid">
    <app-note *ngFor="let noteItem of notes | async" [note]="noteItem" class="noteItem"></app-note>
    
  </div>
</div>
