<div class="noteItem">
  <div class="iconGroup">
    <mat-icon
      svgIcon="edit"
      class="editIcon"
      *ngIf="!editing"
      (click)="turnOnEditMode()"
    ></mat-icon>
    <mat-icon
      svgIcon="save"
      class="saveIcon"
      *ngIf="editing"
      (click)="save()"
    ></mat-icon>
    <mat-icon svgIcon="delete" class="deleteIcon" (click)="delete()"></mat-icon>
  </div>

  <div *ngIf="!editing" class="note">
    <span class="title-font-weight font-20">{{ note.title }}</span>
    <p>
      {{ note.text }}
    </p>
  </div>
  <div *ngIf="editing">
    <input
      type="text"
      [(ngModel)]="note.title"
      class="editable-text title-font-weight disable-borders font-20"
    />
    <p>
      <textarea
        [style.height.px]="textAreaHeight"
        [(ngModel)]="note.text"
        class="editable-text disable-borders font-20"
        (input)="adjustTextAreaHeight($event.target)"
      ></textarea>
    </p>
  </div>
</div>
